In [5]:
%cd ../

/Users/tienphat/Documents/HCMUS/Statistic_Application/covid_analysis

In [2]:
import os
import os.path as osp
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 

ALL_DATA_DIR = 'dataset'
US_DATA_DIR = osp.join(ALL_DATA_DIR, 'usa')

# confirm_df = pd.read_csv(osp.join(US_DATA_DIR, 'time_series_covid_19_confirmed_US.csv'))
# death_df = pd.read_csv(osp.join(US_DATA_DIR, 'time_series_covid_19_deaths_US.csv'))
# recover_df = pd.read_csv(osp.join(ALL_DATA_DIR, 'time_series_covid_19_recovered.csv'))

In [9]:
confirm_df['Province_State'].value_counts()

Texas                       256
Georgia                     161
Virginia                    135
Kentucky                    122
Missouri                    118
Kansas                      107
Illinois                    104
North Carolina              102
Iowa                        101
Tennessee                    97
Nebraska                     95
Indiana                      94
Ohio                         90
Minnesota                    89
Michigan                     87
Mississippi                  84
Oklahoma                     79
Arkansas                     77
Wisconsin                    74
Pennsylvania                 69
Florida                      69
Alabama                      69
South Dakota                 68
Colorado                     66
Louisiana                    66
New York                     64
California                   60
Montana                      58
West Virginia                57
North Dakota                 55
South Carolina               48
Idaho                        46
Washington                   41
Oregon                       38
Utah                         37
New Mexico                   35
Alaska                       31
Maryland                     26
Wyoming                      25
New Jersey                   23
Nevada                       19
Maine                        18
Massachusetts                17
Arizona                      17
Vermont                      16
New Hampshire                12
Connecticut                  10
Hawaii                        7
Rhode Island                  7
Delaware                      5
District of Columbia          3
Guam                          1
American Samoa                1
Grand Princess                1
Virgin Islands                1
Puerto Rico                   1
Northern Mariana Islands      1
Diamond Princess              1
Name: Province_State, dtype: int64

In [13]:
death_df.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/5/20,7/6/20,7/7/20,7/8/20,7/9/20,7/10/20,7/11/20,7/12/20,7/13/20,7/14/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,...,5,5,5,5,5,5,5,5,5,5
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,...,2,2,2,2,2,2,2,2,2,2
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,...,155,155,157,159,159,159,167,167,167,169
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,...,6,6,6,6,6,6,6,6,6,6

In [15]:
reco_df = pd.read_csv(osp.join(ALL_DATA_DIR, "all_recovered.csv"))
reco_df.head()
del reco_df

In [16]:
data_df = pd.read_csv(osp.join(ALL_DATA_DIR, "state_data.csv"))
data_df['Province/State'].unique()
del data_df